/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
.backgroundContainers {
  background: url("../../assets/auth/4575627-abstract-colorful.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
}
/* ====== Form container ===== */
.form-container {
  display: flex;
  width: 1000px;
  height: 600px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  backdrop-filter: blur(20px);
  overflow: hidden;
}

/* ====== First Column ===== */
.col-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30px);
  border-radius: 0 30% 20% 0;
  transition: border-radius 0.3s;
}
.image-layer {
  position: relative;
}
.form-image-main {
  width: 600px;
  margin-left: 50px;
  margin-top: 40px;
  /* transform: translate(40px,40px); */
  animation: up-down 3s ease-in-out alternate infinite;
}
.form-image {
  position: absolute;
  left: 290px;
  top: 320px;
}
.form-image.mail {
  width: 60px;
  transform: translate(150px, 100px);
}
.form-image.coin {
  width: 600px;
  left: -80px;
  top: 10px;
  /* transform: translate(-190px,0px); */
}
.form-image.starts {
  width: 600px;
  left: 20px;
  top: 30px;
  /* transform: translate(10px,20px);*/
}
.form-image.mess {
  width: 60px;
  transform: translate(150px, -80px);
}
.form-image.setting {
  width: 60px;
  transform: translate(-100px, -250px);
}
.form-image.store {
  width: 60px;
  transform: translate(-200px, -100px);
}
.form-image.call {
  width: 60px;
  transform: translate(100px, -250px);
}
.form-image.safari {
  width: 60px;
  transform: translate(-150px, 100px);
}

/* ====== Form Image Animation ===== */
.coin {
  animation: up-down 3s ease-in-out alternate infinite;
}
.mail {
  animation: scale-down 3s ease-in-out alternate infinite;
}
.mess {
  animation: scale-down 3s ease-in-out alternate infinite;
}
.starts {
  animation: left-right 3s ease-in-out alternate infinite;
}
.setting {
  animation: scale-down 3s ease-in-out alternate infinite;
}
.call {
  animation: scale-down 3s ease-in-out alternate infinite;
}
.store {
  animation: scale-down 3s ease-in-out alternate infinite;
}
.safari {
  animation: scale-down 3s ease-in-out alternate infinite;
}
@keyframes left-right {
  to {
    transform: translateX(10px);
  }
}
@keyframes up-down {
  to {
    transform: translateY(10px);
  }
}
@keyframes scale-down {
  to {
    transform: scale(0.95);
    width: 0;
  }
}
@keyframes scale-up {
  to {
    transform: scale(1.05);
    width: 0;
  }
}

/* ====== Featured Words ===== */

/* ====== Second Column ===== */
.col-2 {
  position: relative;
  width: 45%;
  padding: 20px;
  overflow: hidden;
}
.btn-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.btn {
  font-weight: 500;
  padding: 5px 30px;
  border: none;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
}
.btn-box .btn {
  background-color: rgba(255, 255, 255, 0.2); /* Màu mặc định */
  transition: all 0.3s ease;
}
.btn-box .btn.active-btn {
  background-color: #21264d !important; /* Màu khi active */
}
.btn:hover {
  opacity: 0.85;
}
/*  ======= Login Form ========  */
.login-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 4vw;
  transition: 0.3s;
}
/*  ======= Forget Form ========  */
.forget-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 4vw;
  transition: 0.3s;
}
/*  ======= Register Form ========  */
.register-form {
  position: absolute;
  left: -50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 4vw;
  transition: 0.3s;
}
.register-form .form-title {
  margin-block: 40px 20px;
}
.form-title {
  margin: 40px 0;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}
.form-inputs {
  width: 100%;
}
.scroll-form-inputs {
  height: 230px;
  overflow: hidden;
  position: relative;
}
.scroll-form-inputs:hover {
  overflow-y: auto;
}
.scroll-form-inputs::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên Chrome, Safari */
}
.scroll-form-inputs {
  -ms-overflow-style: none; /* Ẩn thanh cuộn trên IE và Edge */
  scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
}
.form-inbox {
  position: relative;
}
.input-field {
  width: 100%;
  height: 55px;
  padding: 0 15px;
  margin: 10px 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
  outline: none;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
::placeholder {
  color: #fff;
  font-size: 15px;
}
.input-box .icon {
  position: absolute;
  transform: translate(-180%, 180%);
  color: #fff;
}
.forgot-pass {
  display: flex;
  justify-content: right;
  gap: 5px;
}
.forgot-pass a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.input-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 55px;
  padding: 0 15px;
  margin: 10px 0;
  color: #fff;
  background: #21264d;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
}
.input-submit:hover {
  gap: 15px;
}
.social-login {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.social-login i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}
.social-login i:hover {
  transform: scale(0.9);
}

/* ======== Responsive ======== */
@media (max-width: 892px) {
  .form-container {
    width: 400px;
  }
  .col-1 {
    display: none;
  }
  .col-2 {
    width: 100%;
  }
}
